body{
    margin: 0;
    padding: 0;
}
h1{
    margin: 0;
    text-align: start;
    font-size: x-large;
    padding-top: 10px;
}
h5{
    margin-left: 1px;
}
.header{
    display: flex;
    height: 50px;
    margin: 0;
}
.header-h1{
    margin: 0;
}
.header__search{
    height: 50px;
    width: 600px;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header__search input[type="text"]{
    height: 25px;
    width: 450px;
    border: 1px solid grey;
}
.header__search__div__button{
    height: 29px;
    width: 40px;
    border: 1px solid grey;
    background-color: #ffffff;
    border-left: 0;
    background-image: url(Imagenes/lupa.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}
.header__search--div{
    height: 30px;
}
.header__search__div3{
    margin-left: 5px;
}
.header__search div:nth-last-of-type(4){
    margin-left: 5px;
}
.header__search__div2__button{
    height: 29px;
    width: 40px;
    border: 0;
    border-radius: 40px;
    padding-left: 5px;
    background-color: #e9e9e9;
    border-left: 0;    
    background-image: url(Imagenes/microfono16.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}
.header__search__div__button:hover{
    cursor: pointer;
    background-color: #e9e9e9;
}
.header__search__div2__button:hover{
    cursor: pointer;
}
.header__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
}
.header__menu__buttom{
    width: 40px;
    height: 32px;
    border: 0;
    background-size: 25px;
    background-color: white;
    background-repeat: no-repeat;
    background-image: url(Imagenes/menu.png);
    background-position: center;
}
.header__menu__buttom:hover{
    cursor: pointer;
}
.header__logo{
    width: 250px;
    height: 50px;
}
.header__logo--div{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
}
.header__logo--div:hover{
    cursor: pointer;
}
.header__logo--div--div{
    display: inline;
    height: 50px;
    width: 50px;
    background-image: url(Imagenes/iconoyoutube.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}
.header__logo--div--div2{
    display: inline;
    height: 50px;
    width: 150px;
}
.header__logo--div--div3{
    position: absolute;
    top: 5px;
    left: 140px;
}
.header__logo--div--div3__h3{
    color: #606060;
    margin: 0;
    font-size: 12px;

}
.header__icons{
    height: 50px;
    width: fit-content;
    width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__icons button{
    height: 40px;
    width: 40px;
    margin: 8px;
}
.header__icons button:hover{
    cursor: pointer;
}
.header__icons--video{
    background-image: url(Imagenes/reproductor-de-video.png);
    background-repeat: no-repeat;
    border: 0;
    background-position: center;
    background-color: white;
    background-size: 25px;
}
.header__icons--apps{
    background-image: url(Imagenes/apps.png);
    background-repeat: no-repeat;
    border: 0;
    background-position: center;
    background-color: white;
    background-size: 25px;
}
.header__icons--bell{
    background-image: url(Imagenes/bell.png);
    background-repeat: no-repeat;
    border: 0;
    background-position: center;
    background-color: white;
    background-size: 25px;
}
.header__icons--profile{
    background-image: url(Imagenes/perfil.webp);
    background-repeat: no-repeat;
    border: 0;
    border-radius: 50px;
    background-position: center;
    background-color: white;
    background-size: 25px;
}
.container{
    display: flex;
    height: 1000px;
}
.container__buttons{
    width: 80px;
    height: max-content;
    display: grid;
    grid-template-rows: 60px 60px 60px 60px 60px;
}
.container__buttons button{
    position: absolute;
    background-color: white;
    border: 0;
    width: 40px;
    height: 40px;
    margin: 0;
    top: 0;
    margin-left: 12px;
}
.container__buttons--div1{
    position: relative;
}
.container__buttons--h1{
    position: absolute;
    bottom: 0;
    height: 20px;
    margin: 0;
    padding-left: 15px;
}
.container__buttons--div2{
    position: relative;
}
.container__buttons--h2{
    position: absolute;
    bottom: 0;
    height: 20px;
    margin: 0;
    padding-left: 10px;
}
.container__buttons--div3{
    position: relative;
}
.container__buttons--h3{
    position: absolute;
    bottom: 0;
    height: 20px;
    margin: 0;
    padding-left: 15px;
}
.container__buttons--div4{
    position: relative;
}
.container__buttons--h4{
    position: absolute;
    bottom: 0;
    height: 20px;
    margin: 0;
}
.container__buttons--div5{
    position: relative;
}
.container__buttons--h5{
    position: absolute;
    bottom: 0;
    height: 20px;
    margin: 0;
    padding-left: 9px;
}
.container__buttons--1{
    background-image: url(Imagenes/casa.png);
    background-repeat: no-repeat;
    background-position: center;
}
.container__buttons--2{
    background-image: url(Imagenes/brujula.png);
    background-repeat: no-repeat;
    background-position: center;
}
.container__buttons--3{
    background-image: url(Imagenes/youtuber.png);
    background-repeat: no-repeat;
    background-position: center;
}
.container__buttons--4{
    background-image: url(Imagenes/Subscriptions.png);
    background-repeat: no-repeat;
    background-position: center;
}
.container__buttons--5{
    color: black;
    background-image: url(Imagenes/Library.png);
    background-repeat: no-repeat;
    background-position: center;
}
.videos{
    width: 100%;
    display: grid;
    grid-template-columns: 310px 310px 310px;
    grid-template-rows: 190px 190px 190px;
}
.videos--div{
    margin: 5px;
    width: 300px;
    height: 180px;
    border: 1px solid grey;
}
.videos img{
    margin-left: 5px;
    margin-top: 5px;
    width: 290px;
    height: 120px;
}
p{
    text-align: center;
}