@import "variables";

body{
    margin: 0;
    margin-right: 30px;
    margin-left:30px;
}
//Los contenedores principales
.contenedor__global{
    display: flex;

}
.mi__contenedor--1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    height: 100vh;
    background-color: $color_principal;
}
.mi__contenedor--2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    height: 100vh;
}
//Realizando la parte izquierda del cv
.mi__contenedor--1--imagen{
    margin: 12px;
    width: 90%;
    height: 300px;
    background-image: url(Iconos/paracv.png);
    background-repeat: no-repeat;
    background-position: bottom;
}
.mi__contenedor--1--contacto--h2{
    text-align: center;
}
.mi__contenedor--1--contacto{
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
}
.mi__contenedor--1--idioma--h2{
    text-align: center;
}
.mi__contenedor--1--contacto--contenedor{
    width: 100%;
    height: 40px;
    display: flex;
    position: relative;
}
.mi__contenedor--1--contacto--contenedor--p{
    position: absolute;
    left: 45px;
    margin: 0;
}
.mi__contenedor--1--contacto--contenedor--a{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 24px;
}
.telefono{
    background-image: url(Iconos/telefono.png);
    background-repeat: no-repeat;
}
.github{
    background-image: url(Iconos/github.png);
    background-repeat: no-repeat;
}
.outlook{
    background-image: url(Iconos/outlook.png);
    background-repeat: no-repeat;
}
.linkedln{
    background-image: url(Iconos/linkedin.png);
    background-repeat: no-repeat;
}
//No mostrar para tablets y celulares
@media screen and (max-width:"1200px") {
    .contenedor__global{
        display: none;
    }
}
//Realizando la parte derecha del cv

//Apartado de nombre y puesto
.mi__contenedor--2--1{
    width: 80%;
    height: min-content;
    margin: 0;
    margin-bottom: 10px;
}
.nombre{
    text-align: center;
}
.nombre--h1{
    margin-bottom: 10px;
}
.nombre--h3{
    margin-top: 0;
    font-weight: 200;
}
//Apartado "acerca de mi"
.acerca_de_mi{
    display: flex;
    flex-direction: column;
}
.acerca_de_mi--h3{
    height: min-content;
    background-color: $color_principal;
    padding: 5px;
    margin: 0;
}
//Apartado "educacion"
.educacion--div--h3{
    height: min-content;
    background-color: $color_principal;
    padding: 5px;
    margin: 0;
    margin-top: 20px;

}
.mi__contenedor--2--1 p{
    margin: 0;
    margin-top: 10px;
}
h4{
    margin-top: 20px;
    margin-bottom: 0;
}
//Apartado "habilidades"
.habilidades--div--h3{
    height: min-content;
    background-color: $color_principal;
    padding: 5px;
    margin: 0;   
    margin-bottom: 10px;
    margin-top: 20px;
}
.habilidades--div--grid{
    display: grid;
    grid-template-columns: 50% 50%;
}
