@import "variables.scss";
body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
.contenedor{
    width: 900px;
    height: 100vh;
    padding: 0 30px 0 30px;
    font-family: Arial, Helvetica, sans-serif;
}
//Realizando la parte de la cabecera
.cabecera{
    width: 100%;
    height: 88px;
    background-image:url(https://www.ticarte.com/sites/su/users/7/file/xataka-cabecera.jpg);
    background-repeat: no-repeat;
    position: relative;
}
.cabecera__buscar{
    position: absolute;
    bottom: 10px;
    right: 5px;
}
.cabecera--input,
.cabecera--boton{
    height: 25px;
}
.cabecera--boton{
    height: 32px;
    width: 65px;
    color: white;
    background-color: $color4;
    border: none;
    border-radius: 7px;
}
.cabecera--boton:hover{
    cursor: pointer;
}

//Realizando parte de las noticias
.contenido{
    display: grid;
    grid-template-columns: 60% 40%;
    margin-bottom: 15px;
}
.noticia--div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenido img{
    height: 350px;
    width: 100%;
}
.noticia--div--a{
    height: 16px;
    width: 16px;
    background-image:url(Imagenes/burbuja-de-dialogo.png);
    background-repeat: no-repeat;
}
.noticia--div--p{
    color: $color2;
    margin: 0;
}
.noticia--abajo{
    display: flex;
    justify-content: space-between;
}
.noticia--abajo--div{
    display: flex;
}
.noticias--abajo--tw{
    height: 16px;
    width: 16px;
    display: inline-block;
    background-image: url(Imagenes/twitter.png);
    background-repeat: no-repeat;
}
.noticias--abajo--fc{
    height: 17px;
    width: 16px;
    display: inline-block;
    background-image: url(Imagenes/facebook.png);
    background-repeat: no-repeat;
}
.noticias--abajo--g{
    height: 16px;
    width: 16px;
    display: inline-block;
    background-image: url(Imagenes/google.png);
    background-repeat: no-repeat;
}
.noticia--abajo--div--div{
    width: 100px;
}
.leer__mas{
    color: $color2;
}

//Realizando el pie
.pie{
    height: 250px;
    width: 100%;
    background-color: $color1;
}
.pie--contenedor{
    display: flex;
    padding: 0 20px 0 20px;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid $color3;
}
.pie--contenedor--c{
    color: white;
}
.pie--contenedor-b{
    display: flex;
    padding: 0 20px 0 20px;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.pie--contenedor--b{
    color: grey;
}

//Realizando la parte de la derecha
.columna{
    display: flex;
    flex-direction: column;
}
.columna--div{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    width: 90%;
    margin: 5%;
    height: 200px;
    align-items: center;
    border: 1px solid rgb(136, 136, 136);
    padding: 2px;
}
.columna--txt1{
    width: 45%;
    height: 90%;
}
.columna--img1{
    width: 55%;
    height: 90%;
    background-image: url(Imagenes/estadio.png);
}
.columna--txt1--p{
    color: $color2;
}
.columna--img2{
    width: 55%;
    height: 90%;
    background-image: url(Imagenes/camiseta.png);
}
.siguenos{
    width: 90%;
    margin: 5%;
    height: 100px;
    border: 1px solid rgb(136, 136, 136);
    padding: 2px;
}
.redes{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.redes a{
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background-repeat: no-repeat;
}
.siguenos--div{
    text-align: center;
}
.redes a:nth-of-type(1){
    background-image: url(Imagenes/facebook.png);
    background-position: center;
    background-size: 35px;
}
.redes a:nth-of-type(2){
    background-image: url(Imagenes/google.png);
    background-position: center;
    background-size: 35px;
}
.redes a:nth-of-type(3){
    background-image: url(Imagenes/twitter.png);
    background-position: center;
    background-size: 35px;
}
.redes a:nth-of-type(4){
    background-image: url(Imagenes/linkedin.png);
    background-position: center;
    background-size: 35px;
}